<div class="col-md-5">
  <dl class="dl-horizontal">
    <dt>Nom</dt><dd>{{input value=name}}</dd>
    <dt>Email</dt><dd>{{input value=email}}</dd>
    <dt>Résumé</dt><dd>{{textarea value=summary}}</dd>
  </dl>
  <button {{action "save"}}>OK</button>
</div>