<h1>Table-Hub</h1>
<p>Find me in app/views/static/index.html.erb</p>
<script type="text/x-handlebars" data-template-name="users">
  <p>Plöp.</p>
  <ul>
    {{#each}}
      <li>
        <input type="checkbox" class="toggle">
        <label>{{title}}</label>
      </li>
    {{/each}}
  </ul>
</script>

