<main>
  <h1>Contact</h1>
  <p>
    Pour nous contacter, le plus simple est de nous envoyer un mail : {{showEmailDotCom "mail" "table-hub"}}.
  </p>
  <h3>Contributeurs</h3>
  <ul>
    <li>Shahin Amini</li>
    <li><a href="http://guillaume.claret.me/">Guillaume Claret</a></li>
    <li><a href="http://pierre.gaillard.me/">Pierre Gaillard</a></li>
  </ul>
</main>