<h1>Utilisateurs</h1>
<div class="row">
  <div class="col-md-2">
    <p>Il y a {{usersCount}} utilisateurs&nbsp;:</p>
    <ul>
      {{#each user in controller}}
        <li>{{#link-to "user" user}}{{user.name}}{{/link-to}}</li>
      {{else}}
        <li>Aucun utilisateur&nbsp;...</li>
      {{/each}}
    </ul>
  </div>
  {{outlet}}
</div>