<h1>Utilisateurs</h1>
<p>Nombre d'utilisateurs: {{usersCount}}.</p>
<ul>
  {{#each user in controller}}
    <li>{{#link-to "user" user}}{{user.name}}{{/link-to}}</li>
  {{else}}
    <li>no users… :-(</li>
  {{/each}}
</ul>
{{outlet}}